/* @import url(); */

:root{
    --fontbase:"Dm Sans",sans-serif;
    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color:#030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brow-color:#46364a;
    --white-color: #fff;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}